.menubar
{
     background:linear-gradient(to left, #FDE910, #ffffff);
     width:100%;
     height:100px;
}
.logo_image
{
     width:10%;
     margin-left:30px;
     height:100%;
     float: left;
}
.menu_container
{
    
     position: relative;
      margin-left:40%;
      top:27%;
      width:30%;
      padding:1%;
}
.menu_item
{
   background-color:rgb(68,56,56);
   padding:10px;
   text-decoration: none;
   color:white;
   cursor: pointer;
}
.menu_item:hover
{
    background-color: black;
    color:white;
}
.conatct_div
{
    background: linear-gradient(to left, #FDE910, #87CEEB);
     width:100%;
     height:25px;
     margin-top:-7px;
     display: flex;
     justify-content:space-between;
     align-items: center;
}
.latestoffer
{
     background: linear-gradient(to left, #FDE910, #87CEEB);
}

.Header_after
{
     height:448px;
     display: flex;

}
.login_div
{
      width:25%;
      height:100%;
     background-color: rgba(255, 249, 196,0.8);
}

.gellery_div
{
     width:50%;
     height:100%;
}
.offer_div
{
     width:30%;
     height:100%;
     border: 1px solid gray;
}
.enquiry
{
       text-align: center;
       background-color:#FDE910;
       color:black;
       padding: 4px;
       margin-top: 0px;
}
.form_div
{
     display: flex;
     justify-content:space-around;
     align-items: center;
     margin-bottom:30px;
}
.myfield
{
      border: none;
      height:40px;
      color:rgb(68,56,56);
      font-weight: bold;
      background-color:#f0f0f0;
      padding:8px;
      transition:background-color 0.8s ease , box-shodow 0.8s ease;
}
.mysubmit
{

 background-color:rgb(68,56,56);
   padding:8px;
   text-decoration: none;
   color:white;
   cursor: pointer;
   border: none;
   width:200px;
}
.mysubmit:hover
{
    background-color: black;
    color:white;
}
.myfield:hover{
     outline: none;
     background-color: #e0e0e0;
     box-shadow: 0 0 5px rgba(0, 0,0,0.2);
}
.mymessage
{
     height: 60px;
     background-color:#f0f0f0;
     border-radius:8px;
     color:rgb(68,56,56);
     font-weight: bold;
     padding:8px;
     transition:background-color 0.8s ease , box-shodow 0.8s ease;
}
.mymessage:focus
{
    outline: none;
    background-color: #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0,0,0.2);
}